
.List-1{
    display:flex;
    align-items: center;
    justify-content: center;  
    
}

.List-2{
    height:  80vh;
    width: 110vh;
    position: relative;
    right: 380px;
    top: 70px;
}


.lable-b {
    color: black;
    font-weight: bolder;
    width: auto;
    height: 80px;
    margin-top: 180px;
    text-align: center;
    padding: 15px 20px;
    font-size: 40px;
}

.container{
    display: flex ;
    justify-content: center;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.card{
    background-color: #ECB78B;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100vh;
    height: 200px;
    margin: 18px;
    border-radius: 45px ;

}
   


.Sitter-pic{
    height:90px ;
    width: 90px;
    border-radius: 50%;
    padding: 2px;   
}


#Sitter-info{
    position: relative;
    right: 110px;
}
.btn-1 {
    background-color: #A5B2A1; 
    height: 70px;
    width: 70px;
    border: none;
    color: #515151; 
    padding: 10px 10px; 
    font-size: 50px; 
    cursor: pointer; 
    border-radius: 50%;
    margin: 5px;
    position: relative;
    right: 205px;
  }
  
  .btn-1:hover {
    color: rgb(2, 77, 2); 
  }


  .btn-2 {
    background-color: #A5B2A1; 
    height: 70px;
    width: 70px;
    border: none; 
    color: #515151; 
    padding: 10px 10px; 
    font-size: 50px; 
    cursor: pointer; 
    border-radius: 50%;
    margin: 5px;
    position: relative;
    right: 200px;
  }
  
  .btn-2:hover {
    color: rgb(128, 19, 0);
  }

.Sitter-data{
    position: relative;
    top: 20px;
    font-size: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5em;
	transition: 0.3s;
    line-height: 2;

}

.Sitter-data li{
list-style-type: none;
display: inline-block;
}

#link{
    text-decoration: underline;
}


.card2{
    background-color: #ECB78B;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100vh;
    height: 140px;
    margin: 18px;
    border-radius: 45px ;
}

#name{
    position: relative;
    right:23px;
}

.rate{
    position: relative;
    right: 150px;

}

.review{
    position: relative;
    right: 120px;
}


#MainPagePic{
    position: relative;
    display: grid;
    width: 300px;
    height: 600px;
    left: 900px;
    bottom: 243px;
    z-index: 10;
}

